{% extends 'base.html' %}

{% block title %}Episode Details{% endblock title %}

{% block content %}
    {% if ((graphViews == '') and (graphHeat == '')) %}
        <h1 class="title">Keine Statistiken!</h1>
        <p>
            Zu der Aufnahme <b>'{{ episode_name }}'</b> wurden keine Statistiken gefunden!
        </p>
    {% else %}
        <h1 class="title">Detailansicht: Aufnahme</h1>
        <p>
            Die folgenden Plots zeigen, wie häufig die Aufnahme <b>'{{ episode_name }}'</b>
            abgespielt, bis zum Ende geschaut und von unterschiedlichen Nutzern besucht worden ist.
        </p>
        <p>
            Diese Aufnahme gehört zu der Veranstaltungsreihe <a href="/series/{{ series_id }}">'{{ series_name }}'</a>.
        </p>

        <div class="plots">
        {% if not (graphViews == '') %}
            <h2>Zugriffsdaten für die Aufnahme</h2>
            <p>
                Plot 1 zeigt tägliche Zugriffsdaten für diese Aufnahme:
            </p>
            <div id="views" class="lines"></div>
        {% endif %}
        {% if not (graphHeat == '') %}
            <h2>Videosegmente</h2>
            <p>
                Plot 2 zeigt für jedes Videosegment, wie häufig es im Verhältnis zu der Gesamtanzahl der Besucher
                der Aufnahme abgespielt worden ist:
            </p>
            <div id="heat" class="segments"></div>
        {% endif %}
        </div>
    {% endif %}
{% endblock content %}

{% block foot %}
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        {% if not (graphViews == '') %}
        let graphViews = {{ graphViews | safe}};
        let views = "views";
        Plotly.plot(views, // the ID of the div, created above
            graphViews.data,
            graphViews.layout || {});
        {% endif %}
        {% if not (graphHeat == '') %}
        let graphHeat = {{ graphHeat | safe}};
        let heat = "heat"
        Plotly.plot(heat, // the ID of the div, created above
            graphHeat.data,
            graphHeat.layout || {});
        {% endif %}
    </script>
{% endblock foot %}