{% extends 'base.html' %}

{% block title %}Episode Details{% endblock title %}

{% block content %}
    <h1 class="title">Detailansicht: Aufnahme</h1>
    <p>
        Die folgenden Plots zeigen, wie häufig die Aufnahme <b>'{{ episode_name }}'</b>
        abgespielt, bis zum Ende geschaut und von unterschiedlichen Nutzern besucht worden ist.
    </p>
    <p>
        Diese Aufnahme gehört zu der Veranstaltungsreihe <a href="/series/{{ series_id }}">'{{ series_name }}'</a>.
    </p>

    <div class="plots">
        <h2>Zugriffsdaten für die Aufnahme</h2>
        <p>

            Plot 1 zeigt tägliche Zugriffsdaten für diese Aufnahme:
        </p>
        <div id="plays" class="lines"></div>
        <h2>Videosegmente</h2>
        <p>
            Plot 2 zeigt für jedes Videosegment, wie häufig es im Verhältnis zu der Gesamtanzahl der Besucher
            der Aufnahme abgespielt worden ist:
        </p>
        <div id="seg" class="segments"></div>
    </div>
{% endblock content %}

{% block foot %}
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        let graphPlays = {{graphs[0] | safe}};
        let graphSegments = {{graphs[1] | safe}};
        let id = "plays";
        let seg = "seg"

        Plotly.plot(id, // the ID of the div, created above
                    graphPlays.data,
                    graphPlays.layout || {});

        Plotly.plot(seg, // the ID of the div, created above
                    graphSegments.data,
                    graphSegments.layout || {});
    </script>
{% endblock foot %}