{% extends 'base.html' %}
{% set active_page = "org" %}

{% block title %}Orga{% endblock title %}

{% block content %}
    <h1>Detailansicht: Organisation</h1>
    <p>
        Der folgende Plot zeigt, wie häufig Aufnahmen der Organisation WWU
        abgespielt, bis zum Ende geschaut und von unterschiedlichen Nutzern besucht worden sind:
    </p>
    <div id="views"></div>
{% endblock content %}

{% block foot %}
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        let graphViews = {{ graphViews | safe}};
        let views = "views";

        Plotly.plot(views, // the ID of the div, created above
                    graphViews.data,
                    graphViews.layout || {});
    </script>
{% endblock foot %}