{% extends 'base.html' %}
{% set active_page = "series" %}

{% block title %}Series Details{% endblock title %}

{% block content %}<h1>Serien Details</h1>
    <h1>{{ series_name }}</h1>
    <p>{{ series_id }}</p><br/>

    <div id="wrap">
        <ul id="epi_list">
            {% for id, name in episodes %}
                <li><a href="/episodes/{{ id }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% for table in tables %}
            {{ titles[loop.index] }}
            {{ table|safe }}
    {% endfor %}

{% endblock content %}