{% extends 'base.html' %}
{% set active_page = "series" %}

{% block title %}Series Details{% endblock title %}

{% block content %}<h1>Serien Details</h1>
    <h1>{{ series_name }}</h1>
    <p>{{ series_id }}</p><br/>

    <div id="wrap">
        <ul id="epi_list">
            {% for id, name in episodes %}
                <li><a href="/episodes/{{ id }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}

{% block plots %}
    <div>
        <h3>Zugriffsdaten: Anzahl Plays, Finishes und Nutzer</h3>
        <div id="plays"></div>
    </div>
{% endblock plots %}

{% block foot %}
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

    <script type="text/javascript">

        let graph = {{graph | safe}};
        let id = "plays";

        Plotly.plot(id, // the ID of the div, created above
                    graph.data,
                    graph.layout || {});
    </script>
{% endblock foot %}