{% extends 'base.html' %}
{% set active_page = "series" %}

{% block title %}Series{% endblock title %}

{% block script %}
    <!-- Script for dynamic search form -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

    (function ($) {
      jQuery.expr[':'].Contains = function(a,i,m){
          return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
      };


      function listFilter(header, list) {
          const form = $("<form>").attr({"class": "filterform", "action": "#"}),
              input = $("<input>").attr({"class": "filterinput", "type": "text"});
          $(form).append(input).appendTo(header);

        $(input)
          .change( function () {
              const filter = $(this).val();
              if(filter) {
              $(list).find("a:not(:Contains(" + filter + "))").parent().hide();
              $(list).find("a:Contains(" + filter + ")").parent().show();
            } else {
              $(list).find("li").show();
            }
            return false;
          })
        .keyup( function () {
            $(this).change();
        });
      }

      $(function () {
        listFilter($("#header"), $("#ser"));
      });
    }(jQuery));

  </script>
{% endblock script%}

{% block content %}
    <div>
        <h1 id="header">Liste aller Serien</h1>
        <ul class="series_list" id="ser">
            {% for id, title in all_series %}
                <li><a href="/series/{{ id }}" class="ser_list1">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}